*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish' , sans-serif;
}
/*==== BARRA SCROLL =====*/

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-thumb{
  background: #d40219;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: #d40219;
}

#container
{
    height: 100vh;
    width: 100%;
    background: #eaf5ff;
    position: relative;
}
#navbar
{
    height: 15%;
    width: 90%;
    clip-path: polygon(100% 0, 95% 50%, 50% 100%, 5% 50%, 0 0);
    position: absolute;
    top: 0;
    left: 5%;
    background: #d40219;
    padding: 0 10%;
    display: flex;
    flex-direction: row;
}
#navbar ul,ol
{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 25px 0px;
}
ul
{
    position: absolute;
    left: 5%;
}
ol
{
    position: absolute;
    right: 5%;
}
li
{
    margin: 0px 60px;
    font-size: 23px;
}
li a
{
    text-decoration: none;
    color: #e2e2e2;
    transition: 0.5s;
}
li a:hover
{
    color: #000;
}
#logo
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 5px;
    left: calc(50% - 60px);
}
#logo img
{
    height: 120px;
}
#sideImg
{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 25%;
    right: 32%;
    z-index: 999;
    display: grid;
    place-items: center;
    cursor: pointer;
}
#sideImg img
{
    height: 600px;
}
#sideImg:hover img
{
    animation: animate 2s linear;
}
@keyframes animate {
    0%
    {
        transform: scale(1);
    }
    80%
    {
        transform: scale(0.60);
    }
    95%
    {
        transform: scale(1.10);
    }
    100%
    {
        transform: scale(1);
    }
}
#contentSection
{
    height: 400px;
    width: 750px;
    position: absolute;
    left: 5%;
    top: calc(50% - 200px);
}
#contentSection h2
{
    font-family: sans-serif;
    font-size: 150px;
    color: #d40219;
    font-weight: 900;
}
#contentSection p
{
    padding: 0 0 0 20px;
}
#contentSection button
{
    height: 70px;
    width: 200px;
    border: none;
    outline: none;
    background: #d40219;
    color: #eaf5ff;
    cursor: pointer;
    font-weight: 900;
    margin: 20px 0;
    z-index: 100;
    position: absolute;
}
#contentSection button:hover
{
    animation: animate 1s linear;
}
#contentSection img
{
    height: 800px;
    position: absolute;
    top: -200px;
    left: -100px;
    filter: drop-shadow(1px 1px 0px #d40219)
            drop-shadow(-1px -1px 0px #d40219);
    opacity: 0.08;
    z-index: 1;
}
#pagination,#socialLinks
{
    height: 60px;
    width: 600px;
    position: absolute;
    bottom: 4%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#socialLinks
{
    left: 5%;
}

#pagination #line,#socialLinks #line
{
    height: 3px;
    width: 200px;
    background: #000;
    border-radius: 30px;
}
#pagination h2,#socialLinks i
{
    margin: 0px 30px;
    font-size: 50px;
    cursor: pointer;
    transition: 0.5s;
}
#pagination h2:hover
{
    color: #d40219;
}
#socialLinks i
{
    color: #d40219;
    font-size: 36px;
}
#socialLinks i:hover
{
    color: #000;
}
#socialLinks #line
{
    background: #d40219;
}

header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
  }
  header:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
   
 
  }
  header .content {
    position: relative;
    z-index: 1;
    top: 380px;
  }
  header .content h1 {
    color: #000;
    font-size: 28px;
    font-weight: 900;
  }
 
  header .content h1 span {
    font-weight: 400;
  }
  @media screen and (min-width: 480px) {
    header .content h1 {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 768px) {
    header .content h1 {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 1024px) {
    header .content h1 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1280px) {
    header .content h1 {
      font-size: 72px;
    }
  }
  header .content h2 {
    color: #FFF;
    font-size: 42px;
    font-weight: 900;
    margin: 30px 0px;
  }
  @media screen and (min-width: 480px) {
    header .content h2 {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 768px) {
    header .content h2 {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1024px) {
    header .content h2 {
      font-size: 96px;
    }
  }
  @media screen and (min-width: 1280px) {
    header .content h2 {
      font-size: 128px;
    }
  }
  header .content .countdown {
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    font-family: sevenSegment;
    src: url(seven-segment.ttf);

  }
  @media screen and (min-width: 480px) {
    header .content .countdown {
      font-size: 42px;
    }
  }
  @media screen and (min-width: 768px) {
    header .content .countdown {
      font-size: 56px;
    }
  }
  @media screen and (min-width: 1024px) {
    header .content .countdown {
      font-size: 72px;
    }
  }
  @media screen and (min-width: 1280px) {
    header .content .countdown {
      font-size: 88px;
    }
  }
  
  /* VIDEO */
 
 /*============ PLAY VIDEO */
 .play-btn {
  width: 50px;
  height: 50px;
  background: radial-gradient( rgba(255, 0, 0, 0.8) 60%, rgba(255, 255, 255, 1) 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  margin: 35px 230px;
  box-shadow: 0px 0px 25px 3px rgba(255, 0, 0, 0.8);
}

/* triangle */
.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  transform-origin: center center;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .75);
  top: -30%;
  left: -30%;
  background: rgba(198, 16, 0, 0);
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 1;
    box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1);
    opacity: 0;
    box-shadow: none;

  }
}
.trailer{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,.9);
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}
.trailer video{
	max-width: 900px;
	outline: none;
	position: relative;
}
.trailer.active{
  visibility: visible;
  opacity: 1;
  z-index: 9999;
}

.cerrar{
	position: absolute;
	top: 200px;
	right: 470px;
  color: #fff;
	font-size: 42px;
	cursor: pointer;
}
.cerrar:hover{
  color: var(--first-color);
  transition: 1s;
}
/* === IMAGES */
.gallery-section{
  width: 100%;
  padding: 60px 0;
  background: #eaf5ff;
 
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery-section h1{
  text-align: center;
  text-transform: uppercase;
  color: #333;
}

.border{
  width: 180px;
  height: 4px;
  background: #333;
  margin: 60px auto;
}

.gallery-section .gallery{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
}

